<!DOCTYPE html>
<html>
  <head>
    <title>{{ Title }}</title>
    <link href="style.css" type="text/css"/>
	<script src="apocalism.js" type="text/javascript"></script>
	{{{ customHead }}}
  </head>
  <body>
  {{{ customBefore }}}
  {{{ pages }}}
  {{{ customAfter }}}
  </body>
</html>
